tests/schemas/test-typeinf.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:group name="types">
		<xs:choice>
			<xs:element name="int" type="xs:integer"/>
			<xs:element name="float" type="xs:float"/>
			<xs:element name="str" type="xs:string"/>
		</xs:choice>
	</xs:group>
	<xs:element name="holder">
		<xs:complexType>
			<xs:group ref="types"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
