tests/schemas/test-ctd-simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="clause4">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="c4attr" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="clause3">
		<xs:simpleContent>
			<xs:extension base="clause4">
				<xs:attribute name="c3attr" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>
