tests/schemas/test-recursive.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data" type="xs:string"/>
	<xs:complexType name="node">
		<xs:sequence>
			<xs:element ref="data"/>
			<xs:element name="left" type="node" minOccurs="0" maxOccurs="1"/>
			<xs:element name="right" type="node" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="node" type="node"/>
</xs:schema>
