examples/tmsxtvd/tmsxg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*  
 * Project: TMSWebServices  
 * File	 : tmsxg  
 * Created: 2002-12-17  
 *  
 * (c) 2002 Tribune Media Systems.  
 *  
 * $Id: tmsxg.xsd,v 1.29 2005/08/11
 */
-->
<!-- 
	This file defines common data-types that are used in the TMS schemas for Movie and TV data.  
	References: tmsxtvd.xsd, tmsxmdf.xsd 
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tms="urn:TMSWebServices" targetNamespace="urn:TMSWebServices" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation xml:lang="en">This schema defines common data-types that are used in generating movie and TV XML data.</documentation>
	</annotation>
	<simpleType name="duration">
		<annotation>
			<documentation xml:lang="en">ISO 8601 pattern used to denote program durations.  Year, month and day are not relevent in our context and are omitted.</documentation>
		</annotation>
		<restriction base="xsd:duration">
			<pattern value="PT[0-9][0-9]H[0-5][0-9]M"/>
		</restriction>
	</simpleType>
	<simpleType name="dateTime">
		<annotation>
			<documentation xml:lang="en">ISO 8601 pattern for date+time information : YYYY-MM-DDThh:mm:ssZ</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
			<pattern value="20[0-9]{2}\-[0-1][0-9]\-[0-3][0-9]T[0-2][0-9]:[0-5][0-9]:[0-5][0-9]Z"/>
		</restriction>
	</simpleType>
	<simpleType name="date">
		<annotation>
			<documentation xml:lang="en">ISO 8601 pattern for date: YYYY-MM-DD</documentation>
		</annotation>
		<restriction base="xsd:date">
			<pattern value="(19|20)[0-9]{2}\-[0-1][0-9]\-[0-3][0-9]"/>
		</restriction>
	</simpleType>
	<simpleType name="time">
		<annotation>
			<documentation xml:lang="en">ISO 8601 pattern for time of day : hh:mm:ss</documentation>
		</annotation>
		<restriction base="xsd:time">
			<pattern value="\d\d:\d\d:\d\d"/>
		</restriction>
	</simpleType>
	<simpleType name="tvRatings">
		<annotation>
			<documentation xml:lang="en">The FCC standard ratings for TV programs (http://www.fcc.gov/vchip/#guidelines)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="TV-Y"/>
			<enumeration value="TV-Y7"/>
			<enumeration value="TV-G"/>
			<enumeration value="TV-PG"/>
			<enumeration value="TV-14"/>
			<enumeration value="TV-MA"/>
		</restriction>
	</simpleType>
	<simpleType name="tvColorCode">
		<annotation>
			<documentation>The standard color codes used to denote the color scheme used by a TV program (eg. Color, B &amp; W ...).</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="B &amp; W">
				<annotation>
					<documentation xml:lang="en">Indicates that the program is begin telecast in Black and White.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Color">
				<annotation>
					<documentation xml:lang="en">Indicates that the program being telecast is in color.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Colorized">
				<annotation>
					<documentation xml:lang="en">Indicates that the program being telecast is a colorised version of the original program.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Color and B &amp; W">
				<annotation>
					<documentation xml:lang="en">Indicates that the program being telecast is partly in color and partly in Black and White.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="crewMember">
		<annotation>
			<documentation xml:lang="en">A cast or production crew member for a film or TV show.</documentation>
		</annotation>
		<sequence>
			<element name="role">
				<annotation>
					<documentation xml:lang="en">Describes the role of the crew member.  Eg. Actor, Director ...</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="givenname" nillable="true">
				<annotation>
					<documentation xml:lang="en">The given/first name of the crew member.  The element name follows LDAP naming convention.  TMS does not have given/first names for all cast/crew members.  Hence this element is nillable.</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="surname" nillable="true">
				<annotation>
					<documentation xml:lang="en">The surname/last-name of the crew member.  The element name follows LDAP naming convention.</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="image">
		<annotation>
			<documentation>Complex type that contains the attributes of an image.  The only attribute available at present is its URI.</documentation>
		</annotation>
		<sequence>
			<element name="imageUri" type="xsd:anyURI" nillable="true">
				<annotation>
					<documentation>This element contains an absolute URI to an image associated with the film.</documentation>
				</annotation>
			</element>
			<element name="width" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation>This element defines the width of the image associated with the film.  This element is a place holder.  The width attribute is not available at present.</documentation>
				</annotation>
			</element>
			<element name="height" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation>This element defines the height of the image associated with the film.  This element is a place holder.  The height attribute is not available at present.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="address">
		<annotation>
			<documentation xml:lang="en">This complex type describes a generic address.</documentation>
		</annotation>
		<sequence>
			<element name="streetAddress">
				<annotation>
					<documentation xml:lang="en">This element groups together the various street address parts for the entire address.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="street" maxOccurs="unbounded">
							<annotation>
								<documentation xml:lang="en">This field contains each entry for the street address part of the entire address.</documentation>
							</annotation>
							<simpleType>
								<restriction base="xsd:string">
									<maxLength value="255"/>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="city">
				<annotation>
					<documentation xml:lang="en">This field contains the city for the address.</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="255"/>
					</restriction>
				</simpleType>
			</element>
			<element name="state">
				<annotation>
					<documentation xml:lang="en">This field contains the name/code of the state for the address.</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="255"/>
					</restriction>
				</simpleType>
			</element>
			<element name="postalCode">
				<annotation>
					<documentation xml:lang="en">This field contains the ZIP/Postal code for the address.</documentation>
				</annotation>
				<simpleType>
					<restriction base="xsd:string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="telephone" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">This field contains the telephone number if available for the address.</documentation>
				</annotation>
			</element>
			<element name="fax" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">This field contains the fax number if available for the address.</documentation>
				</annotation>
			</element>
			<element name="mobile" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">This field contains the mobile phone number if available for the address.</documentation>
				</annotation>
			</element>
			<element name="email" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">This field contains the email address if available for the address.</documentation>
				</annotation>
			</element>
			<element name="country" type="xsd:string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">This field contains the country of the address.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="postalCodeType">
		<annotation>
			<documentation>The definition of a postal code.</documentation>
		</annotation>
		<sequence>
			<element name="countryCode">
				<annotation>
					<documentation xml:lang="en">The two letter ISO standard code for the country in which the postal code belongs.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"/>
						<whiteSpace value="collapse"/>
					</restriction>
				</simpleType>
			</element>
			<element name="postalCode">
				<annotation>
					<documentation xml:lang="en">The postal code used by the country to identify a geographic location.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="25"/>
						<whiteSpace value="preserve"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="faultDetailType">
		<annotation>
			<documentation xml:lang="en">A data type that is used to represent the data that will be included in a SOAPFault.detail element.</documentation>
		</annotation>
		<sequence>
			<element name="faultNumber" type="integer">
				<annotation>
					<documentation xml:lang="en">A unique number that indicates the nature of the fault that was generated by TMSDataDirect webservices.</documentation>
				</annotation>
			</element>
			<element name="faultDetail" type="string" minOccurs="0">
				<annotation>
					<documentation xml:lang="en">A textual description of the probable cause of the SOAP fault.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<simpleType name="mpaaRatings">
		<annotation>
			<documentation xml:lang="en">MPAA standard ratings for a movie as defined in the movie and TV database schemas.</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="Adult">
				<annotation>
					<documentation xml:lang="en">This is the way this rating is defined in the movies database schema.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AO">
				<annotation>
					<documentation xml:lang="en">This is the way this rating is defined in the TV database schema.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="G"/>
			<enumeration value="NC-17"/>
			<enumeration value="NONE">
				<annotation>
					<documentation xml:lang="en">Films in the movie database that do not have any ratings associated with them are sometimes marked with this value.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOT RATED">
				<annotation>
					<documentation xml:lang="en">This is the way films without any rating are defined in the movies database schema.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NR">
				<annotation>
					<documentation xml:lang="en">This is the way films without any rating are defined in the TV database schema.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PG"/>
			<enumeration value="PG-13"/>
			<enumeration value="R"/>
		</restriction>
	</simpleType>
	<simpleType name="starRating">
		<annotation>
			<documentation xml:lang="en">A Zap2it reviewer assigned rating for a given film.</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="*"/>
			<enumeration value="*+"/>
			<enumeration value="**"/>
			<enumeration value="**+"/>
			<enumeration value="***"/>
			<enumeration value="***+"/>
			<enumeration value="****"/>
		</restriction>
	</simpleType>
	<simpleType name="movieAdvisories">
		<annotation>
			<documentation xml:lang="en">The standard advisory messages that are associated with a movie shown on TV.</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="Adult Situations"/>
			<enumeration value="Adolescentes y Adultos"/>
			<enumeration value="Adultos"/>
			<enumeration value="Brief Nudity"/>
			<enumeration value="Graphic Language"/>
			<enumeration value="Graphic Violence"/>
			<enumeration value="Language"/>
			<enumeration value="Mild Violence"/>
			<enumeration value="Nudity"/>
			<enumeration value="Publico General"/>
			<enumeration value="Rape"/>
			<enumeration value="Strong Sexual Content"/>
			<enumeration value="Violence"/>
		</restriction>
	</simpleType>
</schema>
