examples/tmsxtvd/tmsxtvd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by pc5133 (Tribune Media Services) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Rakesh Vidyadharan (Tribune Media Services) -->
<!-- 
/*
 * Project: TMSWebServices  
 * File	 : tmsxtvd  
 * Created: 2002-11-13  
 *  
 * (c) 2002 Tribune Media Systems.  
 *  
 * $Id: tmsxtvd.xsd,v 1.37 2005/03/21 20:53:01 rakesh Exp $  
 */
 -->
<!-- This file defines a TMS XTVD (eXtensible TV Data) XML document.  Examples: See file tv_list.xml -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tms="urn:TMSWebServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:TMSWebServices" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="http://docs.tms.tribune.com/tech/xml/schemas/tmsxg.xsd"/>
	<xsd:element name="xtvd">
		<xsd:annotation>
			<xsd:documentation>Root element of the document.  @IMPORTANT : All time and dates are specified in UTC !</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tms:stations"/>
				<xsd:element ref="tms:lineups"/>
				<xsd:element ref="tms:schedules"/>
				<xsd:element ref="tms:programs"/>
				<xsd:element ref="tms:productionCrew" minOccurs="0"/>
				<xsd:element ref="tms:genres"/>
			</xsd:sequence>
			<xsd:attribute name="from" type="tms:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Date and time defining the start of the period covered by this XTVD document.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="to" type="tms:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Date and time defining the end of the period covered by this XTVD document.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="schemaVersion" type="xsd:float" use="required" fixed="1.3">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Version number of the schema used to build this document.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
		<xsd:key name="station_key">
			<xsd:selector xpath="./stations/station"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:keyref name="station_keyref_schedule" refer="tms:station_key">
			<xsd:selector xpath="./schedules/schedule"/>
			<xsd:field xpath="@station"/>
		</xsd:keyref>
		<xsd:keyref name="station_keyref_map" refer="tms:station_key">
			<xsd:selector xpath="./lineups/lineup/map"/>
			<xsd:field xpath="@station"/>
		</xsd:keyref>
		<xsd:unique name="program_key">
			<xsd:selector xpath="./programs/program"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
		<xsd:keyref name="program_keyref" refer="tms:program_key">
			<xsd:selector xpath="./schedules/schedule"/>
			<xsd:field xpath="@program"/>
		</xsd:keyref>
		<xsd:keyref name="crew_keyref" refer="tms:program_key">
			<xsd:selector xpath="./productionCrew/crew"/>
			<xsd:field xpath="@program"/>
		</xsd:keyref>
		<xsd:keyref name="genre_keyref" refer="tms:program_key">
			<xsd:selector xpath="./genres/programGenre"/>
			<xsd:field xpath="@program"/>
		</xsd:keyref>
		<xsd:keyref name="advisory_keyref" refer="tms:program_key">
			<xsd:selector xpath="./advisories/advisory"/>
			<xsd:field xpath="@program"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:element name="stations">
		<xsd:annotation>
			<xsd:documentation>Collection of user selected station elements (across all lineups).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="station" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Defines a TV broadcast station - each station is identified with an unique ID.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="callSign">
								<xsd:annotation>
									<xsd:documentation>Short name of the station (eg. CNN).</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="name" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Long name of the station (eg. Cable News Network).</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="fccChannelNumber" type="xsd:positiveInteger" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">FCC channel number of a broadcast station.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="affiliate" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Network, cable or broadcasting group with which the station is associated.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="25"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:int" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">ID string of the station.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lineups">
		<xsd:annotation>
			<xsd:documentation>Collection of lineup elements selected by the user.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="lineup" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Defines all the station that were selected for the given lineup. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="map" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>This element defines the mapping between one station and one channel number. As channel numbers may change over time, attributes to define a validity period for the mapping are available.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="onAir" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation xml:lang="en">Specifies the time(s) of day when the given station-channel mapping is in effect.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="from" type="tms:time" use="required">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">The time of day from which the station-channel mapping is effective.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="to" type="tms:time" use="required">
													<xsd:annotation>
														<xsd:documentation xml:lang="en">The time of day until which the station-channel mapping is effective.</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="station" type="xsd:int" use="required">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Reference to a station.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="channel" use="required">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Channel number associated to the station.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="9"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="channelMinor" type="xsd:positiveInteger" use="optional">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">The major channel (the channel attribute) number is used to group all services associated with a broadcaster’s NTSC brand, for example Channel 4. The minor channel number specifies a particular channel within that group. Zero (0) is reserved for the NTSC channel; all other values (1-999) are allowed for digital services. One common approach is to start with 1 and to continue numerically for different programming services.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="from" type="tms:date" use="optional">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Date from which the mapping is valid, according to the validity period of the whole XTVD document. @IMPORTANT : It is assumed that the change will occur at midnight.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="to" type="tms:date" use="optional">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Date untill which the mapping is valid, within the validity period of the whole XTVD document. @IMPORTANT : The change will occur at midnight.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Unique identifier of the lineup.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="name" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Name given to the lineup.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="100"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="userLineupName" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The user-assigned name for a lineup.  This can be used to help user's easily identify their selections.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
									<xsd:whiteSpace value="preserve"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="location" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Community where lineup's physical equipment is located.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="28"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="type" type="tms:lineupTypes" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Defines the type of the lineup (CABLE, SATELLITE, ...).</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="device" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The name of the device associated with the headend.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="postalCode" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The ZIP/Postal code for which the specified lineup was selected by the user.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="25"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="schedules">
		<xsd:annotation>
			<xsd:documentation>Contain all schedule records (across all selected lineups).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:annotation>
					<xsd:documentation>Sequence of schedule records.</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="schedule" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Describes a schedule entry.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="part" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Designates which part, when a program is split into 2 or more viewings.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="number" use="required">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Designates which part, when a program is split into 2 or more viewings. </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:unsignedInt">
												<xsd:minInclusive value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="total" use="required">
										<xsd:annotation>
											<xsd:documentation xml:lang="en">Designates when a program is split into 2 or more parts for viewing. </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:unsignedInt">
												<xsd:minInclusive value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="program" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Reference to a program ID.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="station" type="xsd:int" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Reference to a station ID.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="time" type="tms:dateTime" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Air date and time for the schedule.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="duration" type="tms:duration" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Duration of the schedule.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="repeat" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Designates a program which has been aired previously.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="tvRating" type="tms:tvRatings" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The FCC standard ratings applied to TV shows.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="stereo" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates whether the program has stereo sound or not.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="subtitled" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates whether the program has subtitles.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="hdtv" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates whether the program broadcast is HDTV compatible.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="closeCaptioned" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates whether the program has closed captions.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="dolby" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates whether the program audio is broadcast in Dolby, or Dolby Digital.</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Dolby"/>
									<xsd:enumeration value="Dolby Digital"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="new" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Designates a program which is new, not previously aired.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="ei" type="xsd:boolean" use="optional">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Indicates the program as being educational and/or informational to viewers from 16 years of age and under.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="programs">
		<xsd:annotation>
			<xsd:documentation>Contains all the program records that are referenced by the schedule records.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="program" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Defines a program entry.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="title">
								<xsd:annotation>
									<xsd:documentation>Title of the program.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="120"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="subtitle" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Subtitle of the program (episode title, game title, ...)</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="150"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="description" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Word string that describes the program.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="255"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="mpaaRating" type="tms:mpaaRatings" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>MPAA rating of the program (applies to movies only).</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="starRating" type="tms:starRating" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Star rating of the program (applies to movies only).</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="runTime" type="tms:duration" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Actual length of  the program. Not the same as schedule/@duration. Applies to movies only.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="year" type="xsd:gYear" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The year in which a feature film was released; YYYY format.  Applies to movies only.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="showType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Distinguishes how a program was originally produced and/or distributed.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="30"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="series" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">The series ID associated with episodic programs.  For instance an episode with programId "EP5544720193" has a series ID "SH5544720000".  The series ID may be used to group together all episodes for a given series.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="colorCode" type="tms:tvColorCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Indicates whether the program is in black and white, colorized or color.  Since most programs are in "Color" this element will be populated only if a program is not in "Color".</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="advisories" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">This element groups together all the advisories associated with the program.  Advisories apply only to movies.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="advisory" type="tms:movieAdvisories" maxOccurs="6">
											<xsd:annotation>
												<xsd:documentation xml:lang="en">An individual advisory message associated with the movie.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="syndicatedEpisodeNumber" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Distributor-designated number corresponding to an episode of a specific show.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="originalAirDate" type="tms:date" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">Original air date for the program.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">Unique ID of the program.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="productionCrew">
		<xsd:annotation>
			<xsd:documentation>Contains information about the personnel associated with each program record.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="crew" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">This element groups together all the crew members associated with the given program.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="member" type="tms:crewMember" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">This element describes an individual production crew member associated with a program.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="program" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="genres">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Containes genre information where available for the program records.  A program may have more than one genre with different relevence factors.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="programGenre" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">This element groups together all the genres under which the specified program falls.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="genre" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation xml:lang="en">This element groups together the different elements associated with each genre with which the program is associated.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="class">
											<xsd:annotation>
												<xsd:documentation xml:lang="en">The genre that is associated with a specified program record.</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="30"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="relevance" type="xsd:int">
											<xsd:annotation>
												<xsd:documentation xml:lang="en">A relevence factor that applies to the genre classification for the program.  A relevence factor of 0 indicates that this is the top-level genre under which the program is classified.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="program" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="lineupTypes">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Standard lineup types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Cable"/>
			<xsd:enumeration value="CableDigital"/>
			<xsd:enumeration value="Satellite"/>
			<xsd:enumeration value="LocalBroadcast"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
