schemas/test-ctd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="URN:testCTD" xmlns="URN:testCTD" xmlns:editix="URN:testCTD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Test schema for complex type definitions</xs:documentation>
	</xs:annotation>
	<xs:element name="myElement" type="structure"/>
	<xs:complexType name="structure">
		<xs:sequence>
			<xs:element name="field" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simple">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
